<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html'%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block b1 %}
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.7164819887007!2d77.55614797259004!3d12.98997698732706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d8b1b8605c7%3A0x8c7903ecebcf44a3!2sEshwari%20Complex%2C%20Prakash%20Nagar%2C%20Rajajinagar%2C%20Bengaluru%2C%20Karnataka%20560021!5e0!3m2!1sen!2sin!4v1717687167611!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    {% endblock %}
    
</body>
</html>